[submodule "Detours"]
	path = Detours
	url = https://github.com/microsoft/Detours.git
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui.git
[submodule "mINI"]
	path = mINI
	url = https://github.com/pulzed/mINI.git
